/* CPU BASE*/

body {
  position: absolute;
  background-color: grey;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}
a {
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
}

h {
  color: green;
  font-size: 2rem;
}
h2 {
  color: gold;
  font-size: 0.9rem;
}
p {
  color: black;
  font-size: 1.45rem;
  font-weight: bold;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  border-style: groove;
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-left: -5px;
  background-color: black;
  color: green;
  opacity: 0.6;
  z-index: 10;
}
apps {
  float: left;
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
  margin-left: -10px;
  margin-top: -5px;
  opacity: 0.7;
  z-index: 1;
}
.apps {
  position: flex;
  float: left;
  width: 100%;
  height: 98%;
  display: block;
  background-color: black;
  margin-left: -10px;
  margin-top: -5px;
  opacity: 0.545;
  overflow: scroll;
  z-index: 6;
}

.splash {
  float: left;
  width: 100%;
  height: 99%;
  display: block;
  background-color: black;
  margin-left: -10px;
  margin-top: -5px;
  opacity: 0.545;
  overflow: scroll;
  z-index: 2;
}

.group {
  float: left;
  width: 65px;
  height: 50px;
  margin: 6%;
  z-index: 3;
  text-align: center;
  font-size: 11px;
  color: red;
}
.group-icon {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 6%;
  z-index: 3;
}

.start {
  float: left;
  width: 15%;
  margin-left: -4px;
  margin-right: 0.5%;
  height: 99%;
  display: block;
  background-image: url("https://cdn.glitch.global/70ca8095-a01d-4d0a-a915-a742b0998958/Controller.jpeg?v");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 4;
}

.start-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 5rem;
  height: 16rem;
  display: block;
  border-style: solid;
  background-color: grey;
  color: green;
  opacity: 1;
  overflow: scroll;
  margin-bottom: 4rem;
  z-index: 9;
}

.menu-item {
  display: block;
  float: left;
  width: 5rem;
  height: 2rem;
  background-color: transparent;
  border-style: groove;
  color: white;
  padding: 0.3px;
  margin-left: -2px;
}

.side-menu {
  position: fixed;
  left: 0;
  bottom: 4rem;
  width: 5rem;
  height: 16rem;
  margin-left: 4.3rem;
  display: block;
  border-style: groove;
  background-color: grey;
  opacity: 1;
  text-align: center;
  font-size: 0.5rem;
  color: white;
  overflow: scroll;
  z-index: 9;
}

.footer-icon {
  float: left;
  width: 3rem;
  height: 99%;
  margin-left: 0.3%;
  margin-right: 0.5%;
  display: block;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  background-color: white;
  text-align: center;
  font-size: 10px;
  color: blue;
}

.reward {
  float: left;
  width: 13rem;
  border-style: groove;
  display: block;
  text-align: center;
  font-size: 0.55rem;
  margin: 1rem;
  background-color: black;
  color: white;
}

.shopitems {
  float: left;
  width: 80%;
  margin: 4rem;
}
.helpimg {
  display: block;
  width: 15rem;
  height: 5rem;
}
.helpimg hover {
  display: block;
  width: 35rem;
  height: 35rem;
}

.notepad{
  margin: auto;
  width: 80%;;
  border-style: solid;
  background-color: white;
  color: red;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.x {
  float: left;
  display: block;
  width: 12px;
  height: 12px;
  background-color: red;
  color: white;
  border-style: groove;
  padding: 2px;
  text-align: center;
  margin-top: -3px;
  margin-left: 3px;
  margin-bottom: 2px;
}
