html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
  background-color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
