h1 {
  margin-bottom: -10px;
}
.rewads {
  color: gold;
  font-size: 19px;
}

.donate {
  position: relative;
  width: 60%;
  height: 350xpx;
  font-size: 20px;
  background-color: silver;
  border-style: groove;
  border-color: white;
  display: block;
  padding: 3px;
}

.tokenItem {
  width: 100%;
  background-color: white;
}
a {
  margin: 3px;
}

p {
  max-width: 900px;
}

p.tiny {
  margin-right: 60%;
  font-size: 10px;
}

p.tinytwo {
  margin-left: 60%;
  font-size: 10px;
}
